- title "About"

%p
	I am being considered for a promotion, and as a consequence, have
	been fielding questions about the status of my promotion almost
	constantly.
	
%p
	So, I wrote this little web app so I could point people at a single
	url with all the information they could want.
	
%p
	\--
	= link_to 'Mark', 'http://about.me/markchang'
	
%p
	= link_to 'Go Back', root_url