- title "About"

%p
	I am being considered for a promotion, and as a consequence, have
	been fielding questions about the status of my promotion almost
	constantly.
	
%p
	So, I wrote this little web app so I could point people at a single
	url with all the information they could want. Now you can do it too!
	Just sign in with your Twitter account, create a new "Promotion",
	and send that URL out to your friends and family.
	
%p
	\--
	= link_to 'Mark', 'http://about.me/markchang'
	
#footer
	= link_to 'Go Back', root_url
	